:root{
    --primary-bg-color: black;
    --secondary-bg-color: #8B62FF;
    --primary-txt-color: white;
    --secondary-txt-color: black;
    --highlight-txt-color: #8B62FF;
    --heading-font-family: "Lobster Two", cursive;
    --secondary-font-family: 'Playfair Display', serif;
    --primary-border-color: #8B62FF;
    
}

body{
   background-color: var(--primary-bg-color);
   border: 5px solid var(--primary-border-color);
   border-style:dotted;
}

.navbar {
  padding: 20px 0 0 ;
}

.navbar .container{
    margin-left: 50px;
    
}

.logo{
    max-width: 50px;
}

.resume{
    text-decoration: none;
    color: var(--highlight-txt-color);
    font-family: var(--heading-font-family);
    font-size: 20px;
    border: 2px solid var(--secondary-bg-color);
    border-radius: 15px;
    padding: 8px 24px;  
}


.hero{
    color: var(--primary-txt-color);
    font-family: var(--secondary-font-family);
}

.hero-text{
    font-size:18px;
    margin-left: 270px;
    margin-top: 30px;

}

.hi{
    color:var(--highlight-txt-color);
    font-weight: bolder;
}

.name{
    color:var(--highlight-txt-color);
    font-family: var(--heading-font-family); 
    font-size: 96px;   
    font-weight: bolder;
    font-style: italic;
}

.current-role{
    font-size: 36px;
}

.hero-paragraph{
    font-size: 18px;
}

.connect-button{
    text-decoration: none;
    color: var(--secondary-txt-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    background: var(--secondary-bg-color);
    padding: 10px 36px; 
    border-radius: 15px;
}

.social-icons a{
    color: var(--primary-txt-color);
    margin-left: 60px ;
    position: fixed;
}

.social-icons a {
  color: var(--primary-txt-color);
  margin-bottom: 10px;
}

.vl {
  border-left: 2px solid var(--primary-txt-color);
  height: 150px;
  margin-left: 70px;
  position: fixed;
}

.navigation-btns{
    color: var(--highlight-txt-color);
    font-family: var(--heading-font-family);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 60px 0 0;
     
       
}

.navigation-btns a{
    text-decoration: none;
    color: var(--highlight-txt-color);
    font-weight: bold;
}

