:root{
    --primary-bg-color: black;
    --secondary-bg-color: #8B62FF;
    --primary-txt-color: white;
    --secondary-txt-color: black;
    --highlight-txt-color: #8B62FF;
    --heading-font-family: "Lobster Two", cursive;
    --secondary-font-family: 'Playfair Display', serif;
    --primary-border-color: #8B62FF;
    
}

body{
   background-color: var(--primary-bg-color);
   border: 4px solid var(--primary-border-color);
   border-style:outset;
}

.hero{
    color: var(--primary-txt-color);
    font-family: var(--secondary-font-family);
    padding: 50px 0;
}

.hero-text{
    font-size:18px;
    margin-left: 270px;
}

.hi{
    color:var(--highlight-txt-color);
    font-weight: bolder;
}

.name{
    color:var(--highlight-txt-color);
    font-family: var(--heading-font-family); 
    font-size: 96px;   
    font-weight: bolder;
    font-style: italic;
}

.current-role{
    font-size: 36px;
}

.hero-paragraph{
    font-size: 18px;
}

.connect-button{
    text-decoration: none;
    color: var(--secondary-txt-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    background: var(--secondary-bg-color);
    padding: 10px 36px; 
    border-radius: 10px;
}

.social-icons a{
    color: var(--primary-txt-color);
    margin-left: 60px ;
    position: fixed;
}

.vl {
  border-left: 2px solid var(--primary-txt-color);
  height: 140px;
  margin-left: 70px;
  position: fixed;
}

.navigation-btns{
    color: var(--highlight-txt-color);
    font-family: var(--heading-font-family);
    font-size: 18px;
    text-align: right;
    margin-right: 80px;
    line-height: 1;
    vertical-align: top;
    
}

.navigation-btns a{
    text-decoration: none;
    color: var(--highlight-txt-color);
    font-weight: bold;
}
