:root{
    --primary-bg-color: black;
    --secondary-bg-color: #8B62FF;
    --primary-txt-color: white;
    --secondary-txt-color: black;
    --highlight-txt-color: #8B62FF;
    --heading-font-family: "Lobster Two", cursive;
    --secondary-font-family: 'Playfair Display', serif;
    --primary-border-color: #8B62FF;
    
}

body{
   background-color: var(--primary-bg-color);
   border: 5px solid var(--primary-border-color);
   border-style:dotted;
}

.navbar {
  padding: 20px 0 0 ;
}

.navbar .container{
    margin-left: 50px;
    
}

.logo{
    max-width: 50px;
}

.resume{
    text-decoration: none;
    color: var(--highlight-txt-color);
    font-family: var(--heading-font-family);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border: 2px solid var(--secondary-bg-color);
    border-radius: 15px;
    padding: 8px 24px;      
}

.resume:hover{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
}


.hero{
    color: var(--primary-txt-color);
    font-family: var(--secondary-font-family);
    height: 80vh;
}

.hero-text{
    font-size:18px;
    margin-left: 270px;
    margin-top: 30px;

}

.hi{
    color:var(--highlight-txt-color);
    font-weight: bolder;
}

.name{
    color:var(--highlight-txt-color);
    font-family: var(--heading-font-family); 
    font-size: 96px;   
    font-weight: bolder;
    font-style: italic;
}

.current-role{
    font-size: 36px;
}

.hero-paragraph{
    font-size: 18px;
}

.connect-button{
    text-decoration: none;
    color: var(--secondary-txt-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    background: var(--secondary-bg-color);
    padding: 10px 36px; 
    border-radius: 15px;
}

.connect-button:hover{
    background-color: var(--primary-bg-color);
    color: var(--highlight-txt-color);
    border: 2px solid var(--primary-border-color);
}

.social-icons a{
    color: var(--primary-txt-color);
    margin-left: 60px ;
    position: fixed;
}

.social-icons a {
  color: var(--primary-txt-color);
  margin-bottom: 10px;
}

.social-icons a:hover{
    color: var(--secondary-bg-color);
}

.vl {
  border-left: 2px solid var(--primary-txt-color);
  height: 150px;
  margin-left: 70px;
  position: fixed;
}

.sidebar-navigation{
    color: var(--highlight-txt-color);
    font-family: var(--heading-font-family);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 15%
}

.sidebar-navigation a{
    text-decoration: none;
    color: var(--highlight-txt-color);
    font-weight: bold;
}

.sidebar-navigation a:hover{
  color: var(--primary-txt-color);
}

/* For Webkit based browsers */
::-webkit-scrollbar {
  width: 8px;
  
}

::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 15px;
 
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-bg-color);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-bg-color);
}
